body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
header {
  height: 40px;
  background-color: orange;
  margin: 0;
  text-align: center;
}
#map {
  height: 100vh;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#searchtab {
  z-index: 10;
}
button:toggleOn {
  background-color: blue;
}